h1, h5 ,a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}
strong, label {
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}

